//colors
$dark:#292D32;
$greenBar:#53D56C;
$gray:#626C76;
$violet:#6C70DC;
$white:#FFFFFF;
$textGray:#828F9A;
$textGreen:#4FBF65;
$buttonViolet:#6C70DC;
$lightGray:#E3EAF3;
$warning:#F4BE6C;
$numberBar:#4D545A;
$black:#000000;
$grey:#ECEFF2;
$darkText:#111111;
$darkGreen:#38CF78;
$warningText:#F39C12;
$background:#F5F7FA;
$asideBg:#292D32;
$lightBlue:#828F9A;

//size
$parcent100:100%;
$vh100:100vh;
$small:14px;
$xs:12px;
$normal-size:18px;
$size15:15px;
$smaller:10px;
$half:50px;

//weigth
$normal:400;
$semibold:500;
$bold:600;


//flex
$flex: flex;
$center: center;
$col:column;
$row:row;
$f-end:flex-end;


//others
$none:none;