@import "../global/variables";
@import "../global/mixins";
@mixin staff {
}

footer {
  width: $parcent100;
  height: 75px;
  display: $flex;
  border-top: 1px solid $lightGray;
  .aside-footer {
    background: $dark;
    width: 230px;
  }
  .card-footer {
    width: 750px;
    background: $white;
    padding: 20px 30px;
    box-sizing: border-box;
    display: $flex;
    justify-content: $f-end;
    .back-btn {
        color: $textGray;
        @include footer-btn;
      }
    .next-btn {
      @include footer-btn;
      background-color: $buttonViolet;
      color: $white;
    }
   
  }
}
