@import '../global/variables';

footer{
    width: $parcent100;
    height: 75px;
    display: $flex;
    border-top: 1px solid $lightGray;
    .aside-footer{
        background:$dark;
        width: 230px;
    
    }
    .main-footer{
        width: 750px;
        background:$white;
        padding: 20px 30px;
        box-sizing: border-box;
        display: $flex;
        justify-content: $f-end;
        button{
            font-size: $xs;
            color:$white;
            font-weight: $bold;
            background-color:$buttonViolet;
            padding: 9px $small;
            border-radius: 2px;
        }
    }
}