@import "../global/variables";
.sidebar {
  width: 230px;
  background-color: $dark;
  ul {
   
    padding: 30px;

    li {
      list-style: $none;
      padding-bottom: 25px;
      display: $flex;
      align-items: $center;
      div {
        color:$white;
        margin-right: $xs;
        background: $numberBar;
        width: $xs*2;
        height: $xs*2;
        border-radius:50%;
        display: $flex;
        align-items: $center;
        justify-content: $center;
        font-size: $xs;
        font-weight: $bold;
      
      }
      a {
        text-decoration: $none;
        color: $gray;
        font-size: $small;
        font-weight: $normal;
      }
    }
  }
}
